table {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    min-width: 500px;
    text-align: center;
    border-collapse: collapse
}

th.mat-header-cell {
    text-align: center;
    max-width: 400px;
}

body {
    font-family: 'Covered By Your Grace';
    line-height: 1.25;
}

button.mat-warn,
.mat-stroked-button.mat-warn {
    color: #3f51b5;
}